<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">

      <!-- LOGIN -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          styleClass="mt-10"
          header="Login"
          subheader="Faça login com sua conta"
          *ngIf="loginCard"
        >
          <div class="flex justify-content-center align-content-center text-align-center">
            <input
              formControlName="username"
              type="email"
              pInputText
              placeholder="Email"/>
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input
              formControlName="password"
              type="password"
              pInputText
              placeholder="Senha"/>
          </div>
          <div class="card flex justify-content-center mt-3">
            <button
              class="m-1"
              type="submit"
              pButton
              pRipple
              label="Login"
              [disabled]="!this.loginForm.valid"
            ></button>
            <button
              class="m-1"
              type="submit"
              pButton
              pRipple
              label="Cadastrar-se"
              (click)="loginCard = !loginCard"
            ></button>
          </div>
        </p-card>
      </form>

      <!-- SIGNUP -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
        <p-card
          styleClass="mt-10"
          header="Criar conta"
          subheader="Faça seu cadastro"
          *ngIf="!loginCard"
        >
          <div class="flex justify-content-center align-content-center text-align-center">
            <input
              type="text"
              pInputText
              placeholder="Nome completo"
              formControlName="name"/>
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="username"/>
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"/>
          </div>
          <div class="card flex justify-content-center mt-3">
            <button
              class="m-1"
              type="submit"
              pButton
              pRipple
              label="Cadastrar"
              [disabled]="!this.registerForm.valid"
            ></button>
            <button
              class="m-1"
              type="submit"
              pButton
              pRipple
              label="Efetuar login"

              (click)="loginCard = !loginCard"
            ></button>
          </div>
        </p-card>
      </form>


    </div>
  </div>
</div>
